/* Basic styling */

body {
    background-color: aliceblue;
    padding-bottom: 40px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #f9f9f9;
    padding: 0px 20px;

    main {
        display: flex;
        justify-content: space-between;

        @media only screen and (max-width: 768px) {
            flex-direction: column;
        }
    }
    @media only screen and (max-width: 768px) {
        padding: 0px;
    }
}

.heading-content {
    color: #757373;
    letter-spacing: 3px;
    font-size: 11px;
    text-transform: uppercase;

    @media only screen and (max-width: 768px) {
        font-size: 11px;
        font-weight: 600;
        letter-spacing: 3px;
    }
}

.card {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px #999;
}

/* Layout and positioning helpers */

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

/* Specific components */

.content-section {
    width: 77%;
    box-sizing: border-box;

    @media only screen and (max-width: 768px) {
        width: 100%;
        padding: 10px;
    }
}

.sort-dropdown {
    width: 200px;
    padding: 10px;
    box-sizing: border-box;

    option {
        cursor: pointer;
    }
}

/* Typography */

hr {
    border: none;
    height: 2px;
    width: 70px;
    background-color: #f23636;
    margin: 0;
}

h2,
h3 {
    margin: 8px 0px;
}

.mobile-header {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    background-color: #fff;
    margin-bottom: 20px;

    // label {
    //     color: #363636;
    //     font-size: 14px;
    // }

    .filter-dropdown {
        padding: 10px 10px;
        border: 1px solid #f23636;
        margin-left: 10px;
        font-size: 13px;
        font-weight: 500;
        cursor: pointer;
        background-color: #fff;

        .fa {
            margin-left: 10px;
        }

        &:hover {
            box-shadow: 0 0 5px #999;
        }
    }

    @media only screen and (min-width: 768px) {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .courses-header {
        display: none;
    }
}

.mt-5{
    margin-top: 5px;
}